---
title: Julien Deswaef
---

<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
</head>
<body>
<pre>
{{ page.title }}
==============

{{ site.github.project_tagline }}

Projects created
----------------
{% for repo in site.github.public_repositories %}{% if repo.fork == false %}
<strong>**{{ repo.name }}**</strong>
<a href="{{ repo.html_url }}">{{ repo.html_url }}</a>
{{ repo.description }}
{% endif %}{% endfor %}

Projects contributed
--------------------
{% for repo in site.github.public_repositories %}{% if repo.fork %}
<strong>**{{ repo.name }}**</strong>
<a href="{{ repo.html_url }}">{{ repo.html_url }}</a>
{{ repo.description }}
{% endif %}{% endfor %}

fork me: <a href="{{ site.github.clone_url }}">{{ site.github.clone_url }}</a>

revision: <a href="{{ site.github.repository_url }}/commit/{{ site.github.build_revision }}">{{ site.github.build_revision }}</a>
</pre>
</body>
</html>
